BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "LED[0]" SITE "F1" ;
LOCATE COMP "LED[7]" SITE "F4" ;
LOCATE COMP "LED[1]" SITE "E3" ;
LOCATE COMP "LED[2]" SITE "E1" ;
LOCATE COMP "LED[3]" SITE "E2" ;
LOCATE COMP "LED[4]" SITE "D1" ;
LOCATE COMP "LED[5]" SITE "G3" ;
LOCATE COMP "LED[6]" SITE "G4" ;
LOCATE COMP "clk_sma" SITE "D22" ;
LOCATE COMP "clk_12" SITE "B10" ;
# External On-Board 12MHz is on Pin B10 - SMA J10 input is Pin D22
IOBUF PORT "SW2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "SW2" SITE "D3" ;
FREQUENCY PORT "clk_sma" 22.400000 MHz ;
FREQUENCY PORT "clk_12" 12.000000 MHz ;
IOBUF PORT "clk_12" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "clk_sma" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "DIP_SW1_4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "DIP_SW1_4" SITE "J3" ;
